CI fails with

```
NewUndeclaredWarning: RingChunkImporter>>createClassNamed: (RGClassDefinition is Undeclared)
NewUndeclaredWarning: RingChunkImporter>>createTraitNamed: (RGTraitDefinition is Undeclared)
NewUndeclaredWarning: RingChunkImporter>>fromFileNamed: (RGPackageDefinition is Undeclared)
NewUndeclaredWarning: RingChunkImporter>>initialize (RGPackageDefinition is Undeclared)
NewUndeclaredWarning: RingChunkImporter>>visitMethodChunk: (RGMethodDefinition is Undeclared)
NewUndeclaredWarning: AbsolutePath>>asZnUrl (ZnUrl is Undeclared)
NewUndeclaredWarning: ZnMultiValueDictionary class>>defaultLimit (ZnMaximumNumberOfDictionaryEntries is Undeclared)
NewUndeclaredWarning: ZnMultiValueDictionary>>checkLimitForKey: (ZnTooManyDictionaryEntries is Undeclared)
NewUndeclaredWarning: FileSystemStore>>mimeTypesAt: (ZnMimeType is Undeclared)
NewUndeclaredWarning: ZnResourceMetaUtils class>>queryKeyValueSafeSet (ZnCurrentOptions is Undeclared)
Syntax Error on line 6: 'End of statement expected ->'
======================================================
1: querySafeSet
2: 	"See RFC 3986 section 3.4. The safe set for the query part consists of
3: 	the basic safe set #rfc3986SafeSet plus the 'sub-delimiters' !$&''()*+,;= 
4: 	plus : and @ plus / and ?"
5: 	
6: 	^ 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789-_.~!$&''()*+,;=:@/?'
```

We can unfortunately not delete it, there is one user. So I closed already #11539 and will close this PR too.